@import "../../../../../styles/mixins";
@import "../../../../../styles/variables";

.section{
    width: 100%;
    margin-top: 40px;
    // border: 2px solid blue;

    .sharing_wrapper{
        h3{
            font-family: Poppins;
            font-size: 24px;
            font-weight: 600;
            line-height: 27.72px;
            text-align: left;
            color: #000;
            margin-bottom: 15px;
        }

        b{
            font-family: DM Sans;
            font-size: 16px;
            font-weight: 600;
            line-height: 24.8px;
            text-align: left;
            color: #000;
        }

        ul{
            margin-top: 15px;
            li{
                font-family: DM Sans;
                font-size: 16px;
                font-weight: 400;
                line-height: 24.8px;
                text-align: left;
                color: #464748;
                margin-left: 25px;
            }
        }

        p{
            font-family: DM Sans;
            font-size: 16px;
            font-weight: 400;
            line-height: 24.8px;
            text-align: left;
            color: #464748;
            margin-top: 15px;
        }

        .sharing_wrapper_two{

            ul{
                li{
                    list-style: none;
                    font-family: DM Sans;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 24.8px;
                    text-align: left;
                    color: #464748;
                    margin-left: 0px;
                }
            }
        }
    }
}

@include responsive("mobile"){
    .section{
        width: 100%;
        margin-top: 20px;
        // border: 2px solid blue;
    
        .sharing_wrapper{
            h3{
                font-family: Poppins;
                font-size: 24px;
                font-weight: 600;
                line-height: 27.72px;
                text-align: left;
                color: #000;
                margin-bottom: 15px;
            }
    
            b{
                font-family: DM Sans;
                font-size: 14px;
                font-weight: 600;
                line-height: 20.8px;
                text-align: left;
                color: #000;
            }
    
            ul{
                margin-top: 15px;
                li{
                    font-family: DM Sans;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 20.8px;
                    text-align: left;
                    color: #464748;
                    margin-left: 25px;
                }
            }
    
            p{
                font-family: DM Sans;
                font-size: 14px;
                font-weight: 400;
                line-height: 20.8px;
                text-align: left;
                color: #464748;
                margin-top: 15px;
            }
    
            .sharing_wrapper_two{
    
                ul{
                    li{
                        list-style: none;
                        font-family: DM Sans;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 20.8px;
                        text-align: left;
                        color: #464748;
                        margin-left: 0px;
                    }
                }
            }
        }
    }
    
}