@import "../../styles/mixins";
@import "../../styles/variables";


.privacy_container{
    width: 100%;

    .privacy_wrapper{
        display: flex;
        gap: 50px;
        width: 100%;
        // border: 2px solid yellow;
        padding: 30px 100px 50px;
        // position: relative;
        // min-height: 100vh;
    }
}