@import "../../../../../styles/mixins";
@import "../../../../../styles/variables";

.changes_container{
    width: 100%;
    margin-top: 40px;

    .changes_wrapper{
        h3{
            font-family: Poppins;
            font-size: 24px;
            font-weight: 600;
            line-height: 27.72px;
            text-align: left;
            color: #000;
            margin-bottom: 15px;
        }

        p{
            font-family: DM Sans;
            font-size: 16px;
            font-weight: 400;
            line-height: 24.8px;
            text-align: left;
            color: #464748;
        }
    }
}