@import "../../styles/mixins";
@import "../../styles/variables";


.terms_container{
    width: 100%;

    .terms_wrapper{
        display: flex;
        gap: 50px;
        width: 100%;
        padding: 30px 100px 50px;
        // position: relative;
        // min-height: 100vh;
    }

    @include responsive("tablet"){
        .terms_wrapper{
            display: flex;
            gap: 40px;
            width: 100%;
            padding: 30px 30px 50px;
            // position: relative;
            // min-height: 100vh;
        }
    }

    @include responsive("mobile"){
        .terms_wrapper{
            display: flex;
            flex-direction: column;
            gap: 20px;
            width: 100%;
            padding: 20px 20px 30px;
        }
    
    }
}