@import "../../../../styles/mixins";
@import "../../../../styles/variables";


.introduction_container{
    width: 80%;

    @include responsive("mobile"){
        width: 100%;
    }

    @include responsive("tablet"){
        width: 70%;
    }
}