@import "../../../../styles/mixins";
@import "../../../../styles/variables";

.hero_container{
    background-image: url("../../../../../../public/privacy.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding: 50px 0px;

    h2{
        font-family: Poppins;
        font-size: 48px;
        font-weight: 600;
        line-height: 55.44px;
        text-align: center;
        color: #fff;
    }

    @include responsive("mobile"){
        padding: 50px 0px;

        h2{
            font-family: Poppins;
            font-size: 28px;
            font-weight: 600;
            line-height: 55.44px;
            text-align: center;
            color: #fff;
        }

    }
}